<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nandhakumargmail.muralidharan.expendio">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ExpenseListener"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ExpenseAcceptance"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".NewExpensesCreation"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <activity
            android:name=".ExpenseTimelineView"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".DayWiseExpenseEdit"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <activity
            android:name=".MonthWiseExpenseAdd"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <provider
            android:name=".GenericFileProvider"
            android:authorities="com.nandhakumargmail.muralidharan.expendio.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>