<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thriwin.expendio">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".AnalyticsScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".NotificationScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ExpenseShareActivity"
            android:label="@string/share_expense"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ExpenseAcceptance"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".NewExpensesCreation"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <activity
            android:name=".ExpenseTimelineView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpenseSMSPattern"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".RecurringExpensesView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpendioSettingsView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpenseTagsEditView"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".DayWiseExpenseEdit"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <activity
            android:name=".TagWiseExpenseEdit"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <activity
            android:name=".MonthWiseExpenseAdd"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <activity
            android:name=".ExpenseDefaultLimit"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <activity
            android:name=".ExpenseMonthWiseLimit"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <activity
            android:name=".FileListActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <receiver
            android:name=".RecurringExpensesAlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".SMSStateReceiver" />
        <service android:name=".SMSReceiverService"></service>

        <provider
            android:name=".GenericFileProvider"
            android:authorities="com.thriwin.expendio.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>